@charset "utf-8";
/* CSS Document */


/* MENU */




/* Submenu */

.hasChildren {
	position: absolute;
	width: 5px; height: 5px;
	background: black;
	right : 0;
	bottom: 0;
}

#navi li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 padding: 0; margin: 0;
 z-index:999;
}

#navi li:hover > ul {
 display: block;
}

#navi li ul li, #navi li ul li a {
 float: none;
}

#navi ul li a:hover { color: #035b7a;}

#navi li ul li {
 _display: inline; /* for IE6 */
}

#navi li ul li a {
 width: 140px;
 display: block;
}

/* SUBSUB Menu */

#navi li ul li ul {
 display: none;
}

#navi li ul li:hover ul {
 left: 100%;
 top: 0;
}


#navi li ul 