<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

	<!-- Spamcheckr Configuration -->
	

	<appSettings>
	
    <add key="SmtpServer" value="smtp.pninformatics.com" />    
    <add key="AuthenticationMailUser" value="duong@pninformatics.com" />
    <add key="AuthenticationMailPassword" value="123" />
	</appSettings>


	<connectionStrings>
		<add name="EmailConnectionString" connectionString="Data Source=NS301845\SQLSERVER2008;Initial Catalog=OptMailMarketting;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
    

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
	  
	  <pages validateRequest="false" />
	  <httpHandlers>
		  <add verb="*" path="*.bmp" type="ImageHandler.HttpImageHandler,ImageHandler" />
		  <add verb="*" path="*.jpg" type="ImageHandler.HttpImageHandler,ImageHandler" />
		  <add verb="*" path="*.gif" type="ImageHandler.HttpImageHandler,ImageHandler" />
		  <add verb="*" path="*.png" type="ImageHandler.HttpImageHandler,ImageHandler" />
	  </httpHandlers>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true" />
        <handlers>
            <add name="*.png_*" path="*.png" verb="*" type="ImageHandler.HttpImageHandler,ImageHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.gif_*" path="*.gif" verb="*" type="ImageHandler.HttpImageHandler,ImageHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.jpg_*" path="*.jpg" verb="*" type="ImageHandler.HttpImageHandler,ImageHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.bmp_*" path="*.bmp" verb="*" type="ImageHandler.HttpImageHandler,ImageHandler" preCondition="integratedMode,runtimeVersionv2.0" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
