<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>



	<appSettings>
		<add key="SmtpServer" value="adrocks.bz"/>
		<add key="AuthenticationMailUser" value="ms3@adrocks.bz"/>
		<add key="AuthenticationMailPassword" value="uMn6jIEcBrQNLRu6"/>		
		<add key="SmtpPort" value="587"/>
	</appSettings>



	<connectionStrings>
		<add name="EmailConnectionString" connectionString="server=localhost;uid=sa;pwd=root;database=OptMailMarketting"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" batch="false" />



		<membership>
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
					 enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
					 maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
					 applicationName="/" />
			</providers>
		</membership>

		<profile>
			<providers>
				<clear/>
				<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
			</providers>
		</profile>

		<roleManager enabled="false">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
				<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
			</providers>
		</roleManager>
		<httpRuntime requestValidationMode="2.0" />
		<pages validateRequest="false" />
	<!--	<httpHandlers>
			<add verb="*" path="*.bmp" type="ImageHandler.HttpImageHandler,ImageHandler"/>
			<add verb="*" path="*.jpg" type="ImageHandler.HttpImageHandler,ImageHandler"/>
			<add verb="*" path="*.gif" type="ImageHandler.HttpImageHandler,ImageHandler"/>
			<add verb="*" path="*.png" type="ImageHandler.HttpImageHandler,ImageHandler"/>
		</httpHandlers> -->
	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
