<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>CarbonGraffiti.com Email Marketing Templates - Custom 1 column</title>
<style>
a:link {
color:#FB429F;
text-decoration:none;
}
a:visited {
color:#333333;
text-decoration:none;
}
a:hover {
color:#337ADD;
text-decoration:none;
}
a:active {
color:#FB429F;
text-decoration:none;
}
</style>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body bgcolor="#FFFFFF">
<table align="center" width="675" cellpadding="1" cellspacing="1">
  <tr>
    <td align="left" bgcolor="#FFFFFF">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font face="Arial, Helvetica, sans-serif" size="1" color="#999999">Can't view this email properly? <a href="#">Click here for the online version</a></font></td>
  </tr>
</table>
<table align="center" width="675" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="3"><img src="images/1_01.gif" width="675" height="108" alt="" /></td>
  </tr>
  <tr>
    <td width="25"><img src="images/left.gif" /></td>
    <td bgcolor="#f6f6f6" width="626"><table style="margin-bottom:50px;" align="center" width="600" border="0" cellspacing="5" cellpadding="5">
		<tr>
		<td><font style="font-family: verdana, helvetica, sans-serif;font-size: 45px;color: #FB429F; letter-spacing:-2px;">Main Title</font></td>
		</tr>
        <tr>
          <td valign="top"><font style="font-family: verdana, helvetica, sans-serif;font-size: 25px;color: #FB429F; letter-spacing:-2px;">Sub Title</font><br /><font style="font-family: verdana, helvetica, sans-serif;font-size: 12px;color: #999999;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur suscipit tellus quis risus. Fusce eros. Donec in velit. Aliquam vitae augue. Praesent turpis leo, elementum ut, dapibus id, faucibus at, dui. Pellentesque leo. Etiam id metus. Duis porttitor consectetuer mi. Praesent eget eros. Maecenas suscipit libero in orci. Maecenas velit dolor, sagittis in, pellentesque blandit, eleifend nec, dolor. Fusce ipsum. Duis non eros eu leo adipiscing semper. Integer et mauris ut est tempus bibendum. In fermentum, eros eget blandit pulvinar, <a href="#">urna justo mattis nibh, ac aliquet diam lacus ut leo</a>.</font>
<br /><br />		  
		  <font style="font-family: verdana, helvetica, sans-serif;font-size: 25px;color: #FB429F; letter-spacing:-2px;">Sub Title</font><br /><font style="font-family: verdana, helvetica, sans-serif;font-size: 12px;color: #999999;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur suscipit tellus quis risus. Fusce eros. Donec in velit. Aliquam vitae augue. <a href="#">Praesent turpis leo</a>, elementum ut, dapibus id, faucibus at, dui. Duis porttitor consectetuer mi. Praesent eget eros. Maecenas suscipit libero in orci. Maecenas velit dolor, sagittis in, pellentesque blandit, eleifend nec, dolor.</font>
<br />
<br />
<font style="font-family: verdana, helvetica, sans-serif;font-size: 25px;color: #FB429F; letter-spacing:-2px;">Sub Title</font><br /><font style="font-family: verdana, helvetica, sans-serif;font-size: 12px;color: #999999;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur suscipit tellus quis risus. Fusce eros. Donec in velit. Aliquam vitae augue. Praesent turpis leo, elementum ut, dapibus id, faucibus at, dui. Duis porttitor consectetuer mi. <a href="#">Praesent eget eros</a>. Maecenas suscipit libero in orci. Maecenas velit dolor, sagittis in, pellentesque blandit, eleifend nec, dolor.</font></td>
        </tr>
      </table></td>
    <td width="24"><img src="images/right.gif" /></td>
  </tr>
  <tr>
    <td><img src="images/left.gif" width="25" height="200" alt="" /></td>
    <td align="center" bgcolor="#cdcdcd" width="626"><table align="center" width="600" border="0" cellspacing="5" cellpadding="5">
        <tr>
          <td valign="top" align="center" width="160"><font style="font-family: verdana, helvetica, sans-serif;font-size: 12px;color: #999999;"><a href="#"><img src="images/cg_site.gif" border="0" /><br />
          Text here</a></font></td>
          <td valign="top" align="center" width="160"><font style="font-family: verdana, helvetica, sans-serif;font-size: 12px;color: #999999;"><a href="#"><img src="images/cg_blog.gif" border="0" /><br />
          Text here</a></font></td>
          <td valign="top" align="center" width="160"><font style="font-family: verdana, helvetica, sans-serif;font-size: 12px;color: #999999;"><a href="#"><img src="images/cg_blog.gif" border="0" /><br />
          Text here</a></font><tr>
      </table></td>
    <td><img src="images/right.gif" width="24" height="200" alt="" /></td>
  </tr>
  <tr>
    <td width="25"><img src="images/left2.gif" /></td>
    <td bgcolor="#f6f6f6" width="626"><table align="center" width="600" border="0" cellspacing="5" cellpadding="5">
        <tr>
          <td valign="top" align="left"><font style="font-family: verdana, helvetica, sans-serif;font-size: 12px;color: #999999;">Curabitur suscipit tellus quis risus. Fusce eros. Donec in velit. Aliquam vitae augue. Praesent turpis leo, elementum ut, dapibus id, faucibus at, dui. Duis porttitor consectetuer mi.</font></td>
        </tr>
      </table></td>
    <td width="24"><img src="images/right2.gif" /></td>
  </tr>
  <tr>
    <td colspan="3"><img src="images/1_03.gif" width="675" height="383" alt="" /></td>
  </tr>
  <tr>
    <td><img src="images/left.gif" width="25" height="100" alt="" /></td>
    <td bgcolor="#cdcdcd" width="626"><table align="center" width="600" border="0" cellspacing="5" cellpadding="5">
        <tr>
          <td valign="top" align="left" width="36"><img src="images/cglogo.gif" /></td>
          <td valign="top" align="left" width="50"><strong><font face="Verdana, Helvetica, sans-serif" size="1" color="#ffffff">CarbonGraffiti.com<br />
            Address 1, City<br />
            County, Country<br />
          PostCode</font></strong></td>
          <td valign="top" align="left"><table align="right">
		  	<tr>
			<td><a href=""><img src="images/fwd_now.gif" border="0" /></a></td>
			<td><a href=""><img src="images/sub_now.gif" border="0" /></a></td>
			</tr>
			</table></td>
        </tr>
      </table></td>
    <td><img src="images/right.gif" width="24" height="100" alt="" /></td>
  </tr>
  <tr>
    <td colspan="3"><img src="images/1_05.gif" width="675" height="14" alt="" /></td>
  </tr>
</table>
<table align="center" width="600" cellpadding="2" cellspacing="2">
  <tr>
    <td align="center" bgcolor="#FFFFFF"><font face="Arial, Helvetica, sans-serif" size="1" color="#999999"><a href="#">Unsubscribe Link</a></font></td>
  </tr>
</table>
</body>
</html>
