<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SmtpServer" value="smtp.pninformatics.com" />
    <add key="AuthenticationMailUser" value="hieu@pninformatics.com" />
    <add key="AuthenticationMailPassword" value="123" />
    <add key="emailSentPerTime" value="50" />
    <add key="BounceAddress" value="mcc@pninformatics.com" />
    <add key="BounceEmailPassword" value="123" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <connectionStrings>
	  <!--add name="EmailConnectionString" connectionString="Data Source=NS301845\SQLSERVER2008;Initial Catalog=OptMailMarketting;Integrated Security=True; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" /-->
	  <add name="EmailConnectionString" connectionString="server=NS301845\SQLSERVER2008;uid=sa;pwd=root;database=OptMailMarketting; MultipleActiveResultSets=true" />
	  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>