<html>
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <title>Corporate Communication 1</title>
</head>

<!-- BEGIN THE HTML BODY OF THE TEMPLATE --> 

<body>


<!-- BEGIN THE CSS OF THE TEMPLATE - THIS NEEDS TO BE HERE, NOT IN THE HEAD SECTION - TRY TO USE LONG HAND CSS NOT SHORTHAND --> 

<style type="text/css">
<!--
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	line-height: 16px;
}
br {
	line-height: 5px;
}
a:link {
	color: #0072bc;
	text-decoration: none;
}
a:visited {
	color: #0072bc;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}
-->
</style>

<!-- END THE CSS STYLING OF THIS TEMPLATE --> 


<!-- OK LETS GET STARTED WITH THE MAIN HEADER TABLE -->


<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
  
  <tr>
  
    <td width="57%" height="25" align="left" bgcolor="#e9eff5">
    
    <div align="center">
    <font face="Arial, Helvetica, sans-serif" size="1" color="#555555"> <a href="mailto:info@adrocks.bz">info@adrocks.bz</a> にメール</font> 
    </div>
    </td>
    
    <td width="21%" height="25" align="left" bgcolor="#e9eff5">
    <div align="left">
    <font face="Arial, Helvetica, sans-serif" size="1" color="#555555">画像が見れない方は<a href="http://activemotionad.com/adserver/login"target=”_blank”>こちら</a></font> 
    </div>
    
    </td>
    
  </tr>
  
  <tr>
  
    <td height="13" colspan="3"><a href="http://activemotionad.com/adserver/login"target=”_blank”><img src="images/header.jpg" width="650" height="115" border="0"></a></td>
    
      </tr> 
       
</table><!-- END OF THE MAIN HEADER TABLE -->

<!-- HERE IS THE START OF THE DARK GRAY AREA FULL WIDTH -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#1c1d18">

  <tr>
  
    <td>
    
    <!-- HERE IS THE START OF THE DARK GRAY AREA CONTENT -->
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#1c1d18">
    
      <tr>
      
        <!-- HERE IS THE AREA WITH THE MONITOR IMAGE -->
        <td width="262" rowspan="3">
        <img src="images/monitor.jpg" width="262" height="261">
        </td>
        
        <td valign="bottom">
        
        <span style="color: #1c1d18; 	margin-bottom: 20px; font-size: 12px;  font-family: Arial, Helvetica, sans-serif; font-weight: bold;"> 
        <font color="#ffffff" face="Arial, Helvetica, sans-serif" point-size="12"> 
        <br >
                <strong>Activemotionは割引情報告知に特化した広告ソリューションです</strong> 
                </font> 
                </span>
                
        </td>
        
      </tr>
      
      <tr>
      
        <td valign="top">&nbsp;</td>
        
      </tr>
      
      <tr>
      
        <td valign="top">
        
        <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color: #ffffff; line-height: 18px"> 
        <font color="#c0c0c0"  face="Arial, Helvetica, sans-serif" point-size="12">
        Activemotion広告は、サイトや店舗、サービスの割引情報を宣伝するための広告ソリューションです。国内数百万人のライツネットワークユーザーのブラウザ内に、あなたの割引情報を掲載した広告を配信します。以下に5,000円クリック分の無料クーポンをご用意いたしましたので、無料でActivemotion広告の効果をお試し下さい。</font><br>
        <br>
        <strong>クーポンコード : 4194156</strong> (サインアップ時にこのコードを入力してください)</span>
        
        <img src="images/small_hr.jpg" width="388" height="31">
        
        <br>
        
        <a href="http://activemotionad.com/adserver/login"target=”_blank”><img src="images/button_large.jpg" width="388" height="54" border="0"></a>
        
        </td>
        
      </tr>
      
    </table>    <!-- END OF THE DARK GRAY AREA CONTENT -->
    
      
          <!-- HERE IS THE START OF THE 3 COLUMN DARK GRAY AREA -->
          <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="1C1D19">
      
        <tr>
        
          <td width="250" valign="top">
          
          <table width="650" border="0" cellspacing="0" cellpadding="5">
          
            <tr>
            
                  <!-- COLUMN 1 -->
              <td width="206" valign="top">
              
              <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; line-height: 18px"><strong>
              全てのウェブサイトに広告を配信              </strong></span>
              
              <br>
              <br>
              
              <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color: #c0c0c0; line-height: 18px">
              ActiveMotion広告は、Yahoo!、Googleといった検索エンジンの検索結果ページや、企業サイト、個人サイト、また、ブログやショッピングサイトなど、全てのウェブサイトに広告を配信します。
              </span>
              
              </td>
              
              <!-- COLUMN 2 -->
              <td valign="top">
              
              <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; line-height: 18px"><strong>
              新規広告設定・変更は非常に簡単</strong></span>
              
              <br>
              <br>
              
              <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color: #c0c0c0; line-height: 18px">
              ご用意頂くものは、広告画像とリンク先のURLだけです。あとは、ご希望に沿って条件を設定して頂き、設定完了です。また、設定内容はいつでも変更頂けます。
              </span>
              
              </td>
              
              <!-- COLUMN 3 -->
              <td width="206" valign="top">
              
              <span style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #ffffff; line-height: 18px"><strong>
              料金はクリックされた分だけ課金</strong></span>
                            
              <br>
              <br>
              
              <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 12px; color: #c0c0c0; line-height: 18px">
              １クリック＝２０円～のクリック課金でお支払い頂けます。最低利用料金の指定もなく、低予算から始められ、ご予算に合わせたプロモーションが可能です。
              </span>
              
              </td>
              
            </tr>

          </table>
          
            <img src="images/large_hr.jpg" width="650" height="32" >
            
          <!-- START OF THE PRODUCT HEADINGS -->
          <table width="650" border="0" cellspacing="0" cellpadding="0">
          
            <tr>
            
              <td><img src="images/product1_heading.jpg" width="215" height="44" ></td>
              <td><img src="images/product2_heading.jpg" width="220" height="44" ></td>
              <td><img src="images/product3_heading.jpg" width="215" height="44" ></td>
              
            </tr>
            
          </table><!-- END OF THE PRODUCT HEADINGS -->
          
          </td>
          
        </tr>
        
      </table>
      
      </td>
      
  </tr>
  
  
</table>

<!-- START OF THE BLUE AREA FULL WIDTH -->
<table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#3777ab">

  <tr>
  
    <td>
    
    <table width="650" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#3777ab">
      
<tr>
        <td colspan="3" valign="top">
        
        <!-- START OF THE PRODUCT IMAGES -->
        <table width="650" border="0" cellspacing="0" cellpadding="0">
        
          <tr>
          
            <td width="215" valign="top">
            
            <img src="images/product1_image.jpg" width="215" height="130" >
            
            </td>
            
            <td valign="top" width="220">
            
              <img src="images/product2_image.jpg" width="220" height="130" >
              
              </td>
              
            <td width="215" valign="top">
            
            <img src="images/product3_image.jpg" width="215" height="130" >
            
            </td>
            
          </tr>
          
          <tr>
          
          <!-- PRODUCT 1 TEXT -->
            <td width="215" valign="top">
            
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
  			<tr>
    		<td>            
            <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 11px; color: #ffffff; line-height: 14px">
            ターゲットしたいキーワードを指定して頂きます。ユーザーがブラウザ上で検索したキーワードや、閲覧中サイトのタイトルの一部に指定したキーワードがマッチした場合、あなたの広告が配信されます。
            </span>
            </td>
  			</tr>
			</table>
            
            </td>
            
            <!-- PRODUCT 2 TEXT -->
            <td valign="top">
            
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
  			<tr>
    		<td>            
            <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 11px; color: #ffffff; line-height: 14px">
            広告を配信する時間、曜日を指定することが可能です。時間・曜日ターゲティングを行うことにより、ユーザーがより購買行動を起こしやすいタイミングで広告を配信することができます。<br><br>   
            </span>
            </td>
  			</tr>
			</table>
            
            </td>
            
            <!-- PRODUCT 3 TEXT -->
            <td width="215" valign="top">
            
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
  			<tr>
    		<td>            
            <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 11px; color: #ffffff; line-height: 14px">
            広告を配信する地域を指定することが可能です。地域ターゲティングを行う事により無駄なクリックをなくすばかりか、より精密なターゲティング広告を配信することができます。 <br><br>   
            </span>
            </td>
  			</tr>
			</table>
            
            </td>
            
          </tr>
          
        </table>
        
        </td>
        
      </tr>
      
    </table>
    
    </td>
    
  </tr>
  
</table>

<!-- START OF THE PRODUCT INFO BUTTONS AND WHITE AREA -->
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
  
    <td><a href="http://activemotionad.com/adserver/login"target=”_blank”><img src="images/learn_more1.jpg" width="215" height="50" border="0" ></a></td>
    <td><a href="http://activemotionad.com/adserver/login"target=”_blank”><img src="images/learn_more2.jpg" width="220" height="50" border="0" ></a></td>
    <td><a href="http://activemotionad.com/adserver/login"target=”_blank”><img src="images/learn_more3.jpg" width="215" height="50" border="0" ></a></td>
    
  </tr>
  
  <tr>
  
    <td colspan="3">
    
    <img src="images/footer_top.jpg" width="650" height="99" border="0">
    
    </td>
    
  </tr>
  
</table>

<!-- START OF THE FOOTER INFO SECTIONS -->
<table width="650" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
  
    <td>
    
    <table width="650" border="0" cellspacing="0" cellpadding="0">
    
      <tr>
          
          <td width="432" valign="top">
            
            <font color="#555555" size="-2" face="Arial, Helvetica, sans-serif">運営会社 ADROCKS</font>
            
            <br /><br />
            
            <font color="#3677ab" size="-2" face="Arial, Helvetica, sans-serif">
              
            <a href="http://adrocks.bz/"target=”_blank”>ホーム</a>  |  <a href="http://adrocks.bz/about-us/"target=”_blank”>会社概要</a>  |  <a href="http://adrocks.bz/category/news-and-events/"target=”_blank”>ニュース&イベント</a>  | <a href="http://adrocks.bz/privacy-policy/"target=”_blank”> プライバシーポリシー</a>  |  <a href="http://adrocks.bz/contact-us/"target=”_blank”>弊社へのご連絡</a><br />
            
            </font>            
              
            </td>
            
        </tr>
          
          <tr>
          
            <td height="12" colspan="3">
            
            <img src="images/footer_dottedGrayDivider.gif" alt="-------------------------------------------------------------------------------------" width="650" height="8" />
            
            </td>
            
          </tr>
          
          <tr>
          
            <td height="61" colspan="3">
            
            <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 11px; color: #acacac; line-height: 14px">
            
            このメールは <a href="mailto:info@adrocks.bz">info@adrcoks.bz</a> より送信されました。
            
            <br />
            
            メール配信を停止したい場合、<a href="http://adrocks.bz/"target=”_blank”>こちら</a>より登録解除を行ってください。<br />もしくは、件名を「登録解除」に変更し、このメールに返信してください。
            
            </span> 
            
            </td>
            
        </tr>
        
        </table>
        
        <!-- COPYRIGHT INFO AND ADDRESS AND PHONE -->
        <table width="650" border="0" cellspacing="0" cellpadding="0">
        
          <tr>
          
            <td width="507" >
            
            <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 11px; color: #acacac; line-height: 14px">
            
            Copyright &copy; 2012 ADROCKS INC. All Rights Reserved.
            
            </span> 
            
            </td>
            
            <td width="143" rowspan="2" align="center">
            
            <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 18px; color: #0072bc; line-height: 14px">
            
            050-5534-9337
            
            </span>
            
            </td>
            
          </tr>
          
          <tr>
          
            <td >
            
            <span style="font-family: Arial, Helvetica, sans-serif;	font-size: 11px; color: #acacac; line-height: 14px">
            
            〒550-0002 大阪府大阪市西区江戸堀2-1-1 江戸堀センタービル9階 <a href="http://adrocks.bz"target=”_blank”>adrocks.bz</a> 
            
            </span>
            
            </td>
            
          </tr>
          
   	  </table>
        
    </td>
    
  </tr>
  
</table><!-- END OF THE FOOTER CONTENT AREAS -->

</body><!-- END THE BODY OF THIS TEMPLATE -->

</html>